body {
    background: #2f2f2f; 
    color:antiquewhite;
    font-family: monospace, serif;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

label {
    display: block;
}

input {
    width: 100%;
    margin: 2px 0 10px 0; 
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}